{% extends 'base.html' %}
{% block body %}
    <div class="jumbotron">
        <h3>Xush kelibsiz!</h3>
        <h1>Gap - foydali ijtimoiy tarmoq</h1>
        <p class="lead">Aniq maqsadga yo'naltirilgan va vaqt isrofini bartaraf etadigan ijtimoiy tarmoq</p>
        <hr class="my-4">
        <p>Boshlash uchun quyidagi tugmani bosing</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'gap:rooms' %}" role="button">Rooms</a>
        </p>
    </div>
{% endblock %}