<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">{{ opinion.title }}.</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ opinion.author }}</h6>
        <p class="card-text">{{ opinion.body }}.</p>
        <a href="{%  url 'gap:opinion_detail' opinion.pk %}" class="card-link">Comments</a>
        <a href="{% url 'gap:opinion-like' opinion.pk %}" class="card-link">
            {% if already_liked %}
            	
            {% endif %} 
        </a>
    </div>
</div>